@import "bootstrap-sprockets";
@import "bootstrap";

.timestamp-md {
  color: gray;
  font-size: 10px;
  text-align: right;
}

#header-dropdown {
  position: relative;
}

#header-dropdown-menu {
  position: absolute;
}

footer {
  text-align: center;
}