// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#home-main {
  // border-spacing: 6px;
}

.node-list {
  background: white;
  margin-left: -15px;
  margin-right: 35px;
  margin-bottom: 15px;
}

.node-list-element:hover {
  background: hsla(0,0%,89.8%,.4);
}

#home-node {
  border: none;
  border-right: 50px solid hsla(0,0%,89.8%,.4);
  border-bottom: 50px solid hsla(0,0%,89.8%,.4);
}

#home-node-name{
  margin: 40px 40px 40px 20px;
  font-size: 40px;
}

.home-post, .home-nitofication {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.home-post:hover {
  background: hsla(0,0%,89.8%,.4);
}

.post-list-title {
  font-size: 18px;
  display: inline;
}

.timestamp-md {
  border-bottom: 1px solid hsla(0,0%,89.8%,.4);
}

.new-post-tag {
  font-size: 10px;
  color: blue;
  display: inline;
}
.new-noti-tag {
  // width: 16px;
  // height: 16px;
  // background-color: red;
  font-size: 10px;
  color: red;
  display: block;
  // border-radius: 8px;
  margin-top: -40px;
  margin-left: 140px;
  position: absolute;
}